# editorconfig.org
# Set to true to tell the core not to check any higher directory for EditorConfig settings for on the current filename.
root = true

[*]
charset = utf-8
# If indent_style is set to tab, indent_size is ignored (since tabs are used instead of spaces).
# indent_style = tab
# indent size determines how many spaces are inserted for each indentation level.
# indent_size = 4
# tab_width defines the width of a tab character when displayed in the editor.
# tab_width = 4
insert_final_newline = true
trim_trailing_whitespace = true
# end_of_line = lf

# [*.{html,tsx,jsx}]
# indent_size = 2
# tab_width = 2

# Markdown syntax specifies that trailing whitespaces can be meaningful,
# so let’s not trim those. e.g. 2 trailing spaces = linebreak (<br />)
# See https://daringfireball.net/projects/markdown/syntax#p
[*.md]
trim_trailing_whitespace = false

# Disable trailing whitespace removal in diff files,
# where whitespace is meaningful
[*.diff]
trim_trailing_whitespace = false
